<div class="container post-container">
  <ul class="list-group post-group">
    <% for(var i = postList.length-1; i >= 0; i--){ %>
      <li class="list-group-item">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">
            <%= postList[i].sender %> paid
              <%= postList[i].recipient %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= postList[i].amount %> Dash</h5>
            <p class="card-text">
              <%= postList[i].message %>
            </p>
          </div>
      </li>
      <% } %>
  </ul>
  </div>
</div>