<% include includes/header.ejs %>
  <title>Dashier - Dashboard</title>
  </head>

  <body>
    <div class="container-fluid dashboard-outer">
      <div class="row">
        <div class="col-md-6 dashboard-left-column">
          <div class="divider">
            <div class="container dashboard-left-container">
              <h1 class="dashboard-username"><a href="https://google.com">@<%= loggedUser.username %></a></h1>
              <div class="container">
                <div class="row settings-logout-row">
                  <div class="col-md-6 dashboard-settings">
                    <form action="https://google.com" method="#">
                      <button type="submit"><i class="fas fa-cog fa-3x" data-fa-transform="down-3"></i></button>
                    </form>
                  </div>
                  <div class="col-md-6 dashboard-logout">
                    <form action="/user/logout" method="get">
                      <button type="submit"><i class="fas fa-sign-out-alt fa-3x" data-fa-transform="down-3"></i></button>
                    </form>
                  </div>
                </div>
                <div class="payment-container">
                  <form class="payment-form">
                    <div class="form-row">
                      <div class="form-group col-md-1">
                        <label for="amount">Pay</label>
                      </div>
                      <div class="form-group col-md-4">
                        <input type="number" class="form-control" id="amount" placeholder="amount">
                      </div>
                      <div class="form-group col-md-1">
                        <label for="recipient">to</label>
                      </div>
                      <div class="form-group col-md-4">
                        <input type="text" class="form-control" id="recipient" placeholder="recipient">
                      </div>
                      <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-primary">✔</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 dashboard-right-column">
          <div class="container post-container">
            <ul class="list-group post-group">
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Neil paid El Chapo</div>
                  <div class="card-body">
                    <h5 class="card-title">2400 Dash</h5>
                    <p class="card-text">Thx for the hookup ;P</p>
                  </div>
              </li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            <script>
              $(function() {
                // $('.dashboard-logout').on('click', '.logout-button', function() {
                //   $.ajax({
                //     method: 'GET',
                //     url: '/user/logout'
                //   });
                // });
                return;
              });
            </script>
  </body>

  </html>