<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Dashier - Dashboard</title>
</head>

<body>
  <div class="container-fluid dashboard-outer">
    <div class="row">
      <div class="col-md-6 dashboard-left-column">
        <div class="divider">
          <div class="container dashboard-left-container">
            <h1 class="dashboard-username">NeilTCox</h1>
            <div class="container">
              <div class="row settings-logout-row">
                <div class="col-md-6 dashboard-settings">
                  <i class="fas fa-cog fa-3x" data-fa-transform="down-3"></i>
                </div>
                <div class="col-md-6 dashboard-logout">
                  <i class="fas fa-sign-out-alt fa-3x" data-fa-transform="down-3"></i>
                </div>
              </div>
              <div class="payment-container">
                <form class="payment-form">
                  <div class="form-row">
                    <div class="form-group col-md-1">
                      <label for="amount">Pay</label>
                    </div>
                    <div class="form-group col-md-4">
                      <input type="number" class="form-control" id="amount" placeholder="amount">
                    </div>
                    <div class="form-group col-md-1">
                      <label for="recipient">to</label>
                    </div>
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" id="recipient" placeholder="recipient">
                    </div>
                    <div class="form-group col-md-2">
                      <button type="submit" class="btn btn-primary">✔</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 dashboard-right-column">
        <div class="container post-container">
          <ul class="list-group post-group">
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
            <li class="list-group-item">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">Neil paid El Chapo</div>
                <div class="card-body">
                  <h5 class="card-title">2400 Dash</h5>
                  <p class="card-text">Thx for the hookup ;P</p>
                </div>
            </li>
          </ul>
          </div>
          </div>
          </div>
          </div>
</body>

</html>