body {
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.jumbotron {
  margin-top: 100px;
}

.dashboard-left-column {
  height: 1500px;
}

.divider {
  border-right: grey 4px solid;
  height: 500px;
  margin-top: 100px;
}

.dashboard-left-container {
  padding-top: 100px;
}

.dashboard-left-container a {
  color: black;
  text-decoration: none;
}

.dashboard-username {
  margin-bottom: 25px;
  text-align: center;
}

.settings-logout-row {
  height: 75px;
}

.settings-logout-row button {
  background: transparent;
  border: none;
  padding-bottom: 20px;
  cursor: pointer;
}

.dashboard-settings {
  border-right: 2px solid grey;
  text-align: right;
}

.payment-container {
  margin-top: 50px;
}

.payment-form label {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.payment-form input {
  font-size: 20px;
  height: 50px;
}

.payment-form button {
  height: 40px;
  margin-top: 5px;
}

.post-container {
  max-height: 50rem;
  overflow: auto;
}

.post-group {
  padding-top: 50px;
}

.post-group .list-group-item {
  background-color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}